In [43]:
import pandas as pd

In [44]:
df1 = pd.read_csv("../before_clean/Songkhla.csv")
df2 = pd.read_csv("../before_clean/Mueang_Yala.csv")
df3 = pd.read_csv("../before_clean/Betong_Yala.csv")
df4 = pd.read_csv("../before_clean/Nakhon_Si_Thammarat.csv")
df5 = pd.read_csv("../before_clean/Narathiwat.csv")
df6 = pd.read_csv("../before_clean/Phuket.csv")
df7 = pd.read_csv("../before_clean/Satun.csv")
df8 = pd.read_csv("../before_clean/Surat_Thani.csv")
df9 = pd.read_csv("../before_clean/Trang.csv")

df_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9]
for df in df_list:
    df.drop(columns=['PM10', 'O3', 'CO', 'NO2', 'SO2','WS','WD','Unnamed: 0'], inplace=True)

In [45]:
count_zeros = (df1 == 0).sum()
print(count_zeros)
print(df1.isnull().sum())

DATETIMEDATA     0
PM25             0
TEMP            95
RH              93
dtype: int64
DATETIMEDATA     0
PM25            24
TEMP             0
RH               0
dtype: int64

In [46]:
count_zeros = (df2 == 0).sum()
print(count_zeros)
print(df2.isnull().sum())

DATETIMEDATA    0
PM25            0
TEMP            2
RH              2
dtype: int64
DATETIMEDATA    0
PM25            3
TEMP            0
RH              0
dtype: int64

In [47]:
count_zeros = (df3 == 0).sum()
print(count_zeros)
print(df3.isnull().sum())

DATETIMEDATA     0
PM25             0
TEMP            16
RH              16
dtype: int64
DATETIMEDATA    0
PM25            9
TEMP            0
RH              0
dtype: int64

In [48]:
count_zeros = (df4 == 0).sum()
print(count_zeros)
print(df4.isnull().sum())

DATETIMEDATA    0
PM25            0
TEMP            0
RH              0
dtype: int64
DATETIMEDATA    0
PM25            4
TEMP            0
RH              0
dtype: int64

In [49]:
count_zeros = (df5 == 0).sum()
print(count_zeros)
print(df5.isnull().sum())

DATETIMEDATA     0
PM25             0
TEMP            11
RH              11
dtype: int64
DATETIMEDATA     0
PM25            21
TEMP             0
RH               0
dtype: int64

In [50]:
count_zeros = (df6 == 0).sum()
print(count_zeros)
print(df6.isnull().sum())

DATETIMEDATA      0
PM25              0
TEMP            169
RH              169
dtype: int64
DATETIMEDATA    0
PM25            6
TEMP            0
RH              0
dtype: int64

In [51]:
count_zeros = (df7 == 0).sum()
print(count_zeros)
print(df7.isnull().sum())

DATETIMEDATA    0
PM25            0
TEMP            0
RH              0
dtype: int64
DATETIMEDATA    0
PM25            0
TEMP            0
RH              0
dtype: int64

In [52]:
count_zeros = (df8 == 0).sum()
print(count_zeros)
print(df8.isnull().sum())

DATETIMEDATA     0
PM25             0
TEMP            26
RH              26
dtype: int64
DATETIMEDATA     0
PM25            65
TEMP             0
RH               0
dtype: int64

In [53]:
count_zeros = (df9 == 0).sum()
print(count_zeros)
print(df9.isnull().sum())

DATETIMEDATA     0
PM25             0
TEMP            20
RH              20
dtype: int64
DATETIMEDATA     0
PM25            18
TEMP             0
RH               0
dtype: int64

In [54]:
variable_list = ['TEMP','RH']
Province = ["Songkhla","Mueang_Yala","Betong_Yala","Nakhon_Si_Thammarat","Narathiwat","Phuket","Satun","Surat_Thani","Trang"]
count = 0
for df in df_list:
    for i in variable_list:
        df['DATETIMEDATA'] = pd.to_datetime(df['DATETIMEDATA'])
        mean_PM25_by_date = df.groupby(df['DATETIMEDATA'].dt.date)[i].mean().reset_index()

        df[i] = df.apply(lambda row: mean_PM25_by_date[mean_PM25_by_date['DATETIMEDATA'] ==row['DATETIMEDATA'].date()][i].values[0] if row[i] == 0 else row[i], axis=1)
        df[i].replace(0, df[i].mean(), inplace=True)

for df in df_list:
    df['DATETIMEDATA'] = pd.to_datetime(df['DATETIMEDATA'])
    mean_PM25_by_date = df.groupby(df['DATETIMEDATA'].dt.date)['PM25'].mean().reset_index()
    df['PM25'] = df.apply(lambda row: mean_PM25_by_date[mean_PM25_by_date['DATETIMEDATA'] == row['DATETIMEDATA'].date()]['PM25'].values[0] if pd.isnull(row['PM25']) else row['PM25'], axis=1)
    df['PM25'].fillna(df['PM25'].mean(), inplace=True)

    df['DATE'] = df['DATETIMEDATA'].dt.date
    df['TIME'] = df['DATETIMEDATA'].dt.time

    df.drop(columns=['DATETIMEDATA'], inplace=True)

    cols = list(df.columns)
    cols.remove('DATE')  
    cols.insert(0, 'DATE')  
    cols.remove('TIME')  
    cols.insert(1, 'TIME')  
    df = df[cols]
        
    df.to_csv(f'../after_clean/cleaned_{Province[count]}.csv', index=False)
    count += 1

In [55]:
count_zeros = (df1 == 0).sum()
print(count_zeros)
print(df1.isnull().sum())

PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64
PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64

In [56]:
count_zeros = (df2 == 0).sum()
print(count_zeros)
print(df2.isnull().sum())

PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64
PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64

In [57]:
count_zeros = (df3 == 0).sum()
print(count_zeros)
print(df3.isnull().sum())

PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64
PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64

In [58]:
count_zeros = (df4 == 0).sum()
print(count_zeros)
print(df4.isnull().sum())

PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64
PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64

In [59]:
count_zeros = (df5 == 0).sum()
print(count_zeros)
print(df5.isnull().sum())

PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64
PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64

In [60]:
count_zeros = (df6 == 0).sum()
print(count_zeros)
print(df6.isnull().sum())

PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64
PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64

In [61]:
count_zeros = (df7 == 0).sum()
print(count_zeros)
print(df7.isnull().sum())

PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64
PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64

In [62]:
count_zeros = (df8 == 0).sum()
print(count_zeros)
print(df8.isnull().sum())

PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64
PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64

In [63]:
count_zeros = (df9 == 0).sum()
print(count_zeros)
print(df9.isnull().sum())

PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64
PM25    0
TEMP    0
RH      0
DATE    0
TIME    0
dtype: int64